
.pag{
    
    text-align: center;
    
    
    
}
.pag a{
    font-size: 17px;
    padding: 11px;
    color: rgb(255, 0, 0);
    background-color: rgba(30, 30, 255, 0.308);
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
   
}
.pag a.active{
    background-color: rgba(66, 236, 242, 0.63);
    border-radius: 13px;

}
.pag a:hover:not(.active) {
    background-color:rgb(216, 209, 209) ;
    border-radius: 7px;
}


.drop{
    display: inline-block;
}
#bb{
    font-size: 18px;
    padding: 13px 15px ;
    background-color: hsla(0, 0%, 85%, 0.679);
    border: none;
    cursor: pointer;

}
.drop a{
    text-decoration: none;
    background-color: rgba(224, 224, 224, 0.601);
    display: block;
    padding: 13px 15px ; 
    color: black;
    font-size: 15px;
   
}
.drop .con{
    display: none;
    background-color: rgba(160, 160, 160, 0.733);
    position: absolute;
    min-width: 100px;
    box-shadow: 3px 3px 4px color(srgb hsla(0, 0%, 98%, 0.704) green blue);

}
.drop:hover .con{
    display: block;
}
a:hover{
    background-color: rgb(54, 9, 255);
}